h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 50px;
    font-size: clamp(1.8rem, calc(7vw + 1.8rem), 6rem);
    font-stretch: condensed;
    color: rgb(255, 0, 0);
}   

 
#button1 {

    font-family: "Wavefont", system-ui;
    font-size: 3px;
    padding: 1em 2em;
    background: var(text-emphasis-color);
    border-radius: 8px;
    cursor: pointer;
    transition: transform 500ms;
  }
    
    #button1:hover,
    button:focus-visible{
        transform: translateY(1.5rem);
    }

    body{
        background-color: rgb(0, 0, 0);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        padding: min(5rem, 8%);
        min-height: 777px;
        border: 10px solid rgb(255, 0, 0);
        gap: 33px;
    
        flex-wrap: wrap;
        min-width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space-evenly;
    
    }
    
    .box{
        flex-shrink: 1; 
        flex-grow: 2;
        flex-direction: column-reverse;
        max-width: 3344px;
        display: flex;
        justify-content: center;
        height: min-content;
        width: min-content; 
        font-size: large;
        flex-wrap: wrap;
       
        min-width: fit-content;
        min-height: fit-content;
        
        background-color: rgb(54, 49, 49);
        font-size: 2rem;
        perspective: 1000px;
        text-emphasis-color: white;
        color: rgb(255, 255, 255);
        justify-content: center;
        cursor: pointer;
        transition: 150ms ease;
/*        
        animation-name: spin;
        animation-duration: 773ms;
        animation-fill-mode: infinite;
        animation-play-state:running; */
        
        /* I tried to experiment with some intro me */
    
    }
    
    .box:hover{
        /* animation-play-state:running; */
        /* transform-box: unset; */ 
        
        transform: skewY(5deg);
        
        transform: skewx(6deg);
        /* transform: rotate3d(1080deg); */
/*    
        transition-timing-function: cubic-bezier(4.65, 0.485, 0.332, 4.275);
        transition-duration: 333ms; */
        width: 5rem; 
        height: 5rem;
        /* transform: rotateX(720deg angle);
        transform: rotateY(360deg  angle);
        transform: rotateZ(1080deg angle);
        transform:perspective(1000deg)
     */
      
    }





























    /* @keyframes spin {
        0%{
    
        }  
        
        13%{
            scale: 2;
            transform: (rotateX('360deg') rotateY('720deg') rotateZ (360deg) 
        );
    
        }
        33%{
            scale: -1;
            transform: (rotateX('180deg') rotateY('720deg') rotateZ (360deg) 
        );
        } 
    
        66%{
            scale: 3;
        } 
    
        
        100%{
            transform: (rotateX('angle') rotateY('720deg') 
            );
            border-radius: 20%;
            scale: 7px;
        }
 
        
    }
    
    
    .element:hover{
        box-shadow: ;
    }
     */
